---
layout: default
priority: 1.0
changefreq: weekly
---

<div class="home">
  <h1 class="page-heading">Tags</h1>
  <div class="tag-list">
    <ul>
      {% for tag in site.tags %}
      <li>
        <div class="tag-title">
          <a href="/tags/{{ tag | first }}">{{ tag | first }}</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <h1 class="page-heading">All Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <span>{{ post.date | date_to_string }}</span> &raquo;
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>

  <span id="forkongithub"><a href="https://github.com/ammarnajjar/ammarnajjar.github.io">Fork me on GitHub</a></span>
</div>
