/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (min-width: 600px) {
  .skillsList {
    column-count: 3;
  }
}

@media screen and (max-width: 599px) {
  .skillsList {
    column-count: 2;
  }
}

@media screen and (max-width: 420px) {
  .skillsList {
    column-count: 1;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  a {
    margin-top: 0.5rem;
  }
}

.profilePic {
  border-radius: 50%;
  width: 18%;
  min-width: 150px;
}

.analysis {
  div {
    height: 55px !important;
    max-width: 90% !important;
    margin: auto;
  }
}
