/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (min-width: 600px) {
  .skillsList {
    column-count: 3;
  }
}

@media screen and (max-width: 599px) {
  .skillsList {
    column-count: 2;
  }
}

@media screen and (max-width: 420px) {
  .skillsList {
    column-count: 1;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  a {
    margin-top: 0.5rem;
  }
}

.profilePic {
  border-radius: 50%;
  width: 18%;
  min-width: 150px;
}

.analysis {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.analysis audio {
  width: 100%;
  max-width: 720px;
  height: 48px;
  display: block;
  margin: 0 auto;
}
