.heroBanner {
  padding: 4rem 0;
  text-align: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.profilePic {
  border-radius: 50%;
  width: 18%;
  min-width: 150px;
}
